<a id="open-popup" class="button" href="">
	View my profile
  </a>
  
  <div class="popup" id="popup">
	<div class="popup__inner">
	  <header class="popup__header">
		<kbd>esc</kbd><a href="#" class="popup__close"></a>  
	  </header>
	  <img src="http://www.fillmurray.com/124/124" alt="Bart Veneman" width="124" height="124" class="profile__image" /><!--
	  
	  --><section class="profile__details">
		<ul class="profile__stats">
		  <li>
			<h3 class="profile_stat__heading">Followers</h3>
			<div class="profile_stat__number">17</div>
		  </li><!--
		  --><li>
			<h3 class="profile_stat__heading">Following</h3>
			<div class="profile_stat__number">8</div>
		  </li><!--
		  --><li>
			<h3 class="profile_stat__heading">CodePens</h3>
			<div class="profile_stat__number">21</div>
		  </li>
		</ul>
		<h2 class="profile__name">Bart Veneman</h2>
		<ul class="social">
		  <li><a href="#"><i class="fa fa-github"></i></a></li><!--
		  --><li><a href="#"><i class="fa fa-instagram"></i></a></li><!--
		  --><li><a href="#"><i class="fa fa-twitter"></i></a></li><!--
		  --><li><a href="#"><i class="fa fa-bitbucket"></i></a></li><!--
		  --><li class="location"><i class="fa fa-map-marker"></i><span>Ommen, NL</span></li>
		</ul>
	  </section>
	</div><!-- /popup__inner -->
  </div><!-- /popup -->