<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	
	<title>saurobani.it {{urlx}}</title>

	<meta name="author" content="Carlo Zanieri" />
	<link rel="shortcut icon" href="static/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="static/menu_6/css/default.css" />
	<link rel="stylesheet" type="text/css" media="all" href="static/news/css/styles.css"/>
  <script src="static/js/jquery.js"></script>
	<script src="static/menu_6/js/modernizr.custom.js"></script> 
</head>


<body>
    <div  width="100%" height="500 px"  style="padding-top:1%;">	
       
		
        <p style="text-align: justify;  color:#7e342d; margin-right:15%;margin-left:15%;">
            {{pagina}}
            <img  class="zoom" src= "static/img/{{pagina[1]}}/{{pagina[2]}}" width="12%" height="12%" alt="" style="float: left; margin: 15px 15px 15px 15px;"/>{{pagina[6]}}
    
            <img class="zoom" src="static/img/{{pagina[1]}}/{{pagina[2]}}" width="12%" height="12%" alt="" style="float: right; margin: 15px 15px 15px 15px;"/>{{pagina[6]}}
    
        </p>
    </div>
    
</body>	
</html>
