<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
	
	<title>saurobani.it {{urlx}}</title>

	<meta name="author" content="Carlo Zanieri" />
	<link rel="shortcut icon" href="static/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="static/css/sauro.css" />
  <script type="text/javascript" src="static/js/sauro.js"></script>
  <script type="text/javascript" src="static/divas/js/jquery-3.1.1.min.js"></script>  
</head>

<body>
  <div class="container">
  
    <a class="toggleMenu" href="#" style="display: none; ">Menu</a>
    <ul class="nav" style="">
      <li class="test">
        <a href="http://www.godbolt.me" class="parent">Shoes</a>
        <ul>
          <li class="">
            <a href="#" class="parent">Womens</a>
            <ul>
              <li class=""><a href="#">Sandals</a></li>
              <li><a href="#">Sneakers</a></li>
              <li><a href="#">Wedges</a></li>
              <li><a href="#">Heels</a></li>
              <li><a href="#">Loafers</a></li>
              <li><a href="#">Flats</a></li>
            </ul>
          </li>
          <li class="">
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">Loafers</a></li>
              <li><a href="#">Sneakers</a></li>
              <li><a href="#">Formal</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="parent">Shirts</a>
        <ul>
          <li>
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Dress Shirts</a></li>
              <li><a href="#">Tank Tops</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Womens</a>
            <ul>
              <li><a href="#">T-Shirts</a></li>
              <li><a href="#">Blouses</a></li>
              <li><a href="#">Dress Shirts</a></li>
              <li><a href="#">Tunics</a></li>
              <li><a href="#">Camisoles</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#" class="parent">Pants</a>
        <ul>
          <li>
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">Trousers</a></li>
              <li><a href="#">Slacks</a></li>
              <li><a href="#">Jeans</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Womens</a>
            <ul>
              <li><a href="#">Trousers</a></li>
              <li><a href="#">Slacks</a></li>
              <li><a href="#">Jeans</a></li>
              <li><a href="#">Leggings</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#" class="parent">Skirts</a>
        <ul>
          <li>
            <a href="#" class="parent">Long</a>
            <ul>
              <li><a href="#">Denim</a></li>
              <li><a href="#">Knits</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Short</a>
            <ul>
              <li><a href="#">Denim</a></li>
              <li><a href="#">Knits</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Mini</a>
            <ul>
              <li><a href="#">Denim</a></li>
              <li><a href="#">Knits</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="#" class="parent">Dresses</a>
        <ul>
          <li>
            <a href="#">Casual</a>
          </li>
          <li>
            <a href="#" class="parent">Formal</a>
            <ul>
              <li><a href="#">Wedding</a></li>
              <li><a href="#">Party</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li class="">
        <a href="#" class="parent">Sweaters</a>
        <ul>
          <li class="">
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">Wool</a></li>
              <li><a href="#">Knitwear</a></li>
              <li><a href="#">Light Sweaters</a></li>
              <li><a href="#">Cardigans</a></li>
              <li><a href="#">Hoodies</a></li>
            </ul>
          </li>
          <li class="">
            <a href="#" class="parent">Womens</a>
            <ul>
              <li><a href="#">Wool</a></li>
              <li><a href="#">Knitwear</a></li>
              <li><a href="#">Light Sweaters</a></li>
              <li><a href="#">Cardigans</a></li>
              <li><a href="#">Hoodies</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="parent">Accessories</a>
        <ul>
          <li>
            <a href="#" class="parent">Womens</a>
            <ul>
              <li><a href="#">Belts</a></li>
              <li><a href="#">Bags</a></li>
              <li><a href="#">Jewelery</a></li>
              <li><a href="#">Hats</a></li>
              <li><a href="#">Eyewear</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">Belts</a></li>
              <li><a href="#">Hats</a></li>
              <li><a href="#">Eyewear</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" class="parent">Outerwear</a>
        <ul>
          <li>
            <a href="#" class="parent">Womens</a>
            <ul>
              <li><a href="#">Winter</a></li>
              <li><a href="#">Spring/Fall</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="parent">Mens</a>
            <ul>
              <li><a href="#">Winter</a></li>
              <li><a href="#">Spring/Fall</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Shipping Info</a>
      </li>
    </ul>
    </div>
    <script type="text/javascript"
    var ww = document.body.clientWidth;

    $(document).ready(function() {
      $(".nav li a").each(function() {
        if ($(this).next().length > 0) {
          $(this).addClass("parent");
        };
      })
      
      $(".toggleMenu").click(function(e) {
        e.preventDefault();
        $(this).toggleClass("active");
        $(".nav").toggle();
      });
      adjustMenu();
    })
    
    $(window).bind('resize orientationchange', function() {
      ww = document.body.clientWidth;
      adjustMenu();
    });
    
    var adjustMenu = function() {
      if (ww < 768) {
        // if "more" link not in DOM, add it
        if (!$(".more")[0]) {
        $('<div class="more">&nbsp;</div>').insertBefore($('.parent')); 
        }
        $(".toggleMenu").css("display", "inline-block");
        if (!$(".toggleMenu").hasClass("active")) {
          $(".nav").hide();
        } else {
          $(".nav").show();
        }
        $(".nav li").unbind('mouseenter mouseleave');
        $(".nav li a.parent").unbind('click');
        $(".nav li .more").unbind('click').bind('click', function() {
          
          $(this).parent("li").toggleClass("hover");
        });
      } 
      else if (ww >= 768) {
        // remove .more link in desktop view
        $('.more').remove(); 
        $(".toggleMenu").css("display", "none");
        $(".nav").show();
        $(".nav li").removeClass("hover");
        $(".nav li a").unbind('click');
        $(".nav li").unbind('mouseenter mouseleave').bind('mouseenter mouseleave', function() {
           // must be attached to li so that mouseleave is not triggered when hover over submenu
           $(this).toggleClass('hover');
        });
      }
    }
  </script>
    
  </body>
  
  </html>